.con {
  position: relative;
  cursor: pointer;
}

.con > img {
  width: 100%;
  height: auto;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

.con:hover .cover {
  display: none;
}

.wrap {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 94px;
  margin-top: -47px;
}

.icon-font {
  font-size: 54px;
  line-height: 1em;
}

.title {
  font-size: 20px;
  padding-top: 14px;
}
