<div class="con">
  <img class="img-fluid" src="assets/img/geju_board_bg_01.png">
  <div class="main">
    <div class="container">
      <div class="x6 text-right">
        <img src="assets/img/geju_img_01.png">
      </div>
      <div class="x6">
        <div class="art">
          <div class="title">你的圈子，决定你的格局</div>
          <div class="content">
            【格】万千世界，自然有不同的人格元素组合成了著一个个性格迥异的个体。人格更是体现了一个人的特点和与众不同。<br>
            【局】《论衡·别通》:"故夫大人之胸怀非一，才高知大，故其於道术无所不包。"人生于天地之间，就应该有恢弘的气度和宽如大海的胸怀。
          </div>
          <div class="btns">
            <a href="https://itunes.apple.com/cn/app/ge-ju/id1136970653?mt=8&ign-mpt=uo%3D4" class="btn btn1"><i class="icon-font">&#xe712;</i>立即下载</a>
            <a href="http://sj.qq.com/myapp/detail.htm?apkName=app.yy.geju" class="btn btn2"><i class="icon-font">&#xe61b;</i>立即下载</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
