<div class="con">
  <div class="container">
    <div class="wrap clearfix">
      <div class="card-group" *ngFor="let item of data;let i = index;"
           (mouseenter)="switchCard(i);" [class.active]="curIndex === i">
        <i class="icon-font" [innerHtml]="item.icon"></i>
        <div class="title">{{item.title}}</div>
      </div>
    </div>
    <div class="wrap">
      <div class="text-group" *ngFor="let item of data[curIndex].data;let i = index;">
        <h3>•{{item.title}}</h3>
        <h4>{{item.content}}</h4>
      </div>
    </div>
  </div>
</div>
