.con {
  background: url("/assets/img/board_bg_03.jpg") no-repeat center/cover;
}

.container {
  margin-top: 85px;
  margin-bottom: 85px;
}

.content {
  text-align: center;
  color: #666;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 54px;
}

.footer {
  text-align: center;
  margin: 42px 0;
}

.footer button {
  background: #3399ff;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 42px;
}
