<div id="{{id}}" class="con">
  <div class="container">
    <div class="x4">
      <div class="art">
        <div class="title">格局开启智能协会管理新变革</div>
        <div class="content">
          <p>随时随地发起的，多人直播/视频会议<br>发布公告分享最新资源</p>
          <p>了解协会成员签到状态，添加日程，便捷协会资源分配和沟通效率</p>
          <p>简单便捷管理我的协会组织</p>
          <p>协会内联系人名片，统一管理，随时随地找人</p>
        </div>
        <div class="foot"><span class="line line1"></span>一个创新的协会组织办公工具<span class="line  line2"></span></div>
      </div>
    </div>
    <div class="x8 text-right">
      <div class="imgs">
        <div class="img-group img-group1 active">
          <img src="assets/img/pic_1.png">
          <div class="cover"></div>
        </div>
        <div class="img-group img-group2">
          <img src="assets/img/pic_2.png">
          <div class="cover"></div>
        </div>
      </div>
    </div>
  </div>
</div>
