<div id="float-btns" class="con">
  <div class="btn-group clearfix">
    <div class="btn"><i class="icon-font">&#xe604;</i></div>
    <div class="label">
      <span class="text">020-37579981</span>
    </div>
  </div>
  <div class="btn-group clearfix">
    <div class="btn"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=313870573&amp;site=qq&amp;menu=yes"><i class="icon-font">&#xe63d;</i></a></div>
    <div class="label">
      <span class="text"><a class="text-white" href="http://wpa.qq.com/msgrd?v=3&amp;uin=313870573&amp;site=qq&amp;menu=yes">在线咨询</a></span>
    </div>
  </div>
  <div class="btn-group clearfix to-top-btn">
    <div class="btn"><i class="icon-font">&#xe60c;</i></div>
  </div>
</div>
