<div class="con" routerLink="{{'/case-detail/' + data.id}}">
  <img class="img-fluid" src="{{ApiConfig.getImgFullPath(data.image)}}">
  <div class="content padding-top-bottom padding-left">
    <div class="height-big clearfix">
      <span class="x2 text-left text-sub">名称：</span>
      <span class="x10 weight-big border-bottom border-sub">{{data.categoryName}}</span>
    </div>
    <div class="height-big clearfix">
      <span class="x2 text-left text-sub">类型：</span>
      <span class="x10 border-bottom border-sub text-sub">{{data.type}}</span>
    </div>
    <div class="func-line height-big clearfix">
      <span class="x2 text-left text-sub">功能：</span>
      <span class="x10 border-bottom border-sub text-sub val">{{data.func}}</span>
    </div>
  </div>
</div>
