<div class="con">
  <img class="img-fluid" src="{{data.img}}">
  <div class="content padding-top-bottom">
    <div class="height-big">
      <span class="x3 text-right text-sub">名称：</span>
      <span class="x9 weight-big border-bottom border-sub">{{data.name}}</span>
    </div>
    <div class="height-big">
      <span class="x3 text-right text-sub">类型：</span>
      <span class="x9 border-bottom border-sub text-sub">{{data.type}}</span>
    </div>
    <div class="height-big">
      <span class="x3 text-right text-sub">功能：</span>
      <span class="x9 border-bottom border-sub text-sub">{{data.describe}}</span>
    </div>
  </div>
</div>
