.con {
  background: url("/assets/img/board_bg_02.jpg") no-repeat center/cover;
}

.nav {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 32px;
}

.nav li a {
  display: block;
  width: 120px;
  line-height: 40px;
  color: #666;
  font-size: 20px;
  background: white;
  border: 1px solid #999;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0;
  margin-left: 35px;
}

.nav li:first-child {
  margin-left: 0;
}

.nav li.active a, .nav li:hover a {
  color: white;
  border-color: #3399ff;
  background-color: #3399ff;
}

.footer {
  text-align: center;
  margin: 42px 0;
}

.footer button {
  background: #3399ff;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 42px;
}
