<div class="con">
  <board-header [color]="hColor" [title]="hTitle"></board-header>
  <div class="container clearfix">
    <div class="wrap">
      <div id="h1" class="title">前期沟通</div>
      <div id="h2" class="title">APP规划</div>
      <div id="h3" class="title">UI规划</div>
      <div id="h4" class="title">需求评估</div>
      <div id="h5" class="title">视觉设计</div>
      <div id="h6" class="title">前端制作</div>
      <div id="h7" class="title">技术开发</div>
      <div id="h8" class="title">测试</div>
      <div id="h9" class="title">完成交付</div>
      <div id="g1" class="group">
        <span class="bg"></span>
      </div>
      <div id="g2" class="group">
        <span class="bg"></span>
      </div>
      <div id="g3" class="group">
        <span class="bg"></span>
      </div>
      <div id="g4" class="group">
        <span class="bg"></span>
      </div>
      <div id="g5" class="group">
        <span class="bg"></span>
      </div>
      <div id="g6" class="group">
        <span class="bg"></span>
      </div>
    </div>
  </div>
</div>
