<div id="{{id}}" class="con">
  <div class="container clearfix">
    <div class="x8 text-right">
      <div class="sub-swiper">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="img-fluid" src="assets/img/pic_3.png"></div>
            <div class="swiper-slide"><img class="img-fluid" src="assets/img/pic_4.png"></div>
            <div class="swiper-slide"><img class="img-fluid" src="assets/img/pic_5.png"></div>
          </div>
          <div class="swiper-button-group">
            <div class="swiper-button swiper-button-prev"><i class="icon-font">&#xe600;</i></div>
            <div class="swiper-button swiper-button-next"><i class="icon-font">&#xe61f;</i></div>
          </div>
          <div class="cover"></div>
        </div>
      </div>
      <div class="main-swiper">
        <div class="wrap">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img class="img-fluid" src="assets/img/pic_5.png"></div>
              <div class="swiper-slide"><img class="img-fluid" src="assets/img/pic_3.png"></div>
              <div class="swiper-slide"><img class="img-fluid" src="assets/img/pic_4.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="x4">
      <div class="art">
        <div class="title">{{describeDataList[curIndex].title}}</div>
        <div class="content">
          <div class="icons">
            <i class="icon-font" *ngFor="let icon of describeDataList[curIndex].icons" [innerHtml]="icon"></i>
          </div>
          <p>{{describeDataList[curIndex].content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
