<app-header [activeIndex]="0"></app-header>
<big-banner [slides]="bannerSlides"></big-banner>
<div class="service-board">
  <div class="container">
    <board-service></board-service>
  </div>
</div>
<div class="case-board">
  <div class="container">
    <board-case></board-case>
  </div>
</div>
<div class="scheme-board">
  <div class="container">
    <board-scheme></board-scheme>
  </div>
</div>
<div class="process-board">
  <div class="container">
    <board-process></board-process>
  </div>
</div>
<div class="about-board">
  <div class="container">
    <board-about></board-about>
  </div>
</div>
<div class="contact-board">
  <div class="container">
    <board-contact></board-contact>
  </div>
</div>
<float-btns></float-btns>
<app-footer></app-footer>
