<div class="con">
  <img src="{{data.bg}}">
  <div class="cover">
    <div class="wrap">
      <div class="c">
        <i class="icon-font" [innerHtml]="data.icon"></i>
        <h3 class="title">{{data.title}}</h3>
      </div>
    </div>
  </div>
  <div class="bg">
    <div class="wrap">
      <div class="c">
        <i class="icon-font" [innerHtml]="data.icon"></i>
        <h3 class="title">{{data.title}}</h3>
        <div class="describe" [innerHtml]="data.describe"></div>
      </div>
    </div>
  </div>
</div>
